# General
DISCORD_TOKEN=<Bot Token>
DISCORD_GUILD=<ID of Guild, this Bot should be used at>
DISCORD_ACTIVITY=<What should be shown, Bot is playing right now>

# IDs
DISCORD_MOD_ROLE=<ID of Mod Role>
DISCORD_ADMIN_ROLE=<ID of Admin Role>
DISCORD_POLL_SUGG_CHANNEL=<ID of Channel, where poll suggestions are posted>
DISCORD_WELCOME_CHANNEL=<ID of welcome channel>
DISCORD_WELCOME_MSG=<ID of welcome message>
DISCORD_BOTUEBUNGSPLATZ_CHANNEL=<ID of channel for bot experiments>
DISCORD_OFFTOPIC_CHANNEL=<ID of channel for greeting & everydays subjects and questions>
DISCORD_SUPPORT_CHANNEL=<ID of channel where modmail & user news should be forwarded>
DISCORD_CALMDOWN_ROLE=<ID of calmdown role>
DISCORD_ROLE_CHANNEL=<ID of channel for attribution of server roles>
DISCORD_ROLE_MSG=<ID of role assignment message>

# JSON Files
DISCORD_CALMDOWN_FILE=<File name for calmdowns JSON file>
DISCORD_LINKS_FILE=<File name for links JSON file>
DISCORD_ROLES_FILE=<File name for roles JSON file>
DISCORD_TEXT_COMMANDS_FILE=<File name for text commands JSON file>
DISCORD_TIMER_FILE=<File name for running timers JSON file>
DISCORD_APPOINTMENTS_FILE=<File name for running appointments JSON file>

# Misc
DISCORD_DATE_TIME_FORMAT=<Date and time format used for commands like %d.%m.%Y %H:%M>
